html {
    font-size: 24px;
    height: 100%;
    color: #383519;
}

body {
    margin: 0;
    min-height: 100vh; 
    display: flex;
    align-items: center;    
    justify-content: center;    
    font-family: sans-serif;
    background-color: #E6E3D8;
}

.newspaper {
    font-size: 16px;
    font-family: Open Sans, sans-serif;
    width: min(90vw, 800px);
    min-height: 500px;
    margin: 50px;
    text-align: center;
    
}
.name {
    font-size: 2rem;
    font-family: 'Times New Roman', serif;
    text-transform: uppercase;
    margin-top: -70px;
}
.author {
    text-transform: uppercase;
    font-weight: bold;
    text-align: left;
    font-size: 0.5em;
}
.date {
    text-transform: uppercase;
    font-style: italic;
    text-align: right;
    font-size: 0.9em;
}
.headline {
    font-size: 4em;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
    font-style: italic;
    margin: 0.5em 0;
    background-image: linear-gradient(to bottom, #009933 0%, #ff99cc 100%); /* To make a green to pink gradient */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(3px 2px 5px black); /* Filter cuz text-shadow doesn't work with bg-clip*/
}
.sub-headline {
    font-weight: 100;
    font-size: 1.5em;
    font-style: italic;
}
.text {
    line-height: 2em;
    text-align: justify;
}
.text::first-letter { /* First letter styling */
    font-size: 2rem;
    float: left;
    line-height: 1;
    padding-right: 0.9em;
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: bold;
}
.separator { /* A Grid layout for the text --> two sections */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 40px;
    align-items: start;
}

.separator p:first-of-type { /* First paragraph styling */
    grid-column: 1;
    grid-row: 1 / span 2;
}

.separator p:nth-of-type(2) { /* Second paragraph styling */
    grid-column: 2;
    grid-row: 1;
}

.separator .image2 { /* Image in the grid */
    grid-column: 2;
    grid-row: 2;
    width: 100%;
    max-width: 400px;
    display: block;
    justify-self: center;
}
hr { 
    border: none;
    border-top: 2px solid #383519;
    filter: blur(0.5px);
}
.image {
    width: 100%;
    height: auto;
    filter: grayscale(60%);
    border-radius: 10px;
}
.image2{
    width: 300px;
    height: auto;
    margin-top:-100px;
    filter: grayscale(60%);
    border-radius: 5px;
}
.image:hover, .image2:hover { /* Hover effect for images */
    filter: grayscale(0%);
    transform: scale(1.02, 1.02);
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease-in-out;
}
